{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div style="display: flex; justify-content: space-between;">
				<details class="no-marker" style="cursor: pointer; display: inline-block">
					<summary>
						<span class="meta like-a" title="Click here to display table of contents">Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
					</summary>
					{{ .TableOfContents }}
				</details>
				<small>
					{{ if .IsPage}}
					{{ if .File.Path}}
					{{ $.Scratch.Set "FilePath" .File.Path }}
					{{ end }}
					{{ with .Site.Params.GithubEdit}}
					<a target="_blank" class="muted" href='{{ . }}{{ $.Scratch.Get "FilePath" }}'>Edit this page</a>
					{{ end }}
					{{ end }}
				</small>
			</div>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
		{{- $.Scratch.Set "isDisqus" true -}}
		<!-- Check if disqus short name is given -->
		{{ if not .Site.DisqusShortname }}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{ end }}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}
	</article>
	<div class="page-bottom-navigation">
		<div class="next-post">
			{{ if .NextPage }}
			<a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">« {{ .NextPage.Title | truncate 50 "..." }}</a>
			{{ end }}
		</div>

		<div class="previous-post">
			{{ if .PrevPage }}
			<a class="link-reverse" href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 50 "..."}} »</a>
			{{ end }}
		</div>
	</div>
</main>
{{ end }}
